/*MEDIA QUERIES*/

/*movil horizontal*/
@media all and (min-width:360px) and (max-width:374px){
	.logoWI{
		display: block;
		margin: auto;
		width: 65%;
	}	
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-repeat: no-repeat;
	}
	.carimg1, .carimg3{
		background-size: 100% 35%;
		background-repeat: no-repeat;
	}
	.cuadro{
		padding: 1%;
		margin-top: 5%;
		border: solid white 3px ;
	}
	.intro{
		font-size: 1em !important;
	}
	#beneficios{
		margin-top: -100%;
	}
	.bt1, .bt2, .bt3, .bt5{
		margin-top: -10%;
	}
	.ofi, .cow{
		height: 300px;
		background-size: 120%;
		background-repeat: no-repeat;
	}
	.esc, .virtuales, .jun, .con{
		height: 300px;
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: 0% 0%;
	}
	.c1, .c2, .c3{
		margin-bottom: 3%;
	}
	#oficinas, #coworking, #escritorio, #virtual, #juntas, #conferencias{
		height: 200px;
	}
}

/*movil vertical*/
@media all and (min-width:640px) and (max-width:666px){
	.logoWI{
		display: block;
		margin: auto;
		width: 40%;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-repeat: no-repeat;
		background-size: 100% 50%;
	}
	.intro{
		font-size: 1.2em !important;
	}
	.cuadro{
		padding: 2%;
	}
	#beneficios{
		margin-top: -45%;
	}
	#oficinas, #coworking, #escritorio, #virtual, #juntas, #conferencias{
		height: 150px;
	}
	.espacio{
		font-size: 1em;
	}
	.tarjeta{
		height: 450px;
	}
	.bt1{
		margin-top: 70%;
	}
	.bt2{
		margin-top: 55%;
	}
	.bt3{
		margin-top: 65%;
	}
	.bt4{
		margin-top: 66%;
	}
	.bt5{
		margin-top: 50%;
	}
	.ofi, .cow,{
		background-position: left top;
    	height: 300px;
	}
	.esc, .virtuales, .jun, .con{
		background-position: 0% 0%;
		height: 300px;
	}
	.c1{
		height: 135px;
	}
}

/*Iphone horizontal*/
@media all and (min-width:375px) and (max-width:639px){
	.logoWI{
		display: block;
		margin: auto;
		width: 63%;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-repeat: no-repeat;
	}
	.carimg1, .carimg3{
		background-size: 100% 36.3%;
		background-repeat: no-repeat;
	}
	#beneficios{
		margin-top: -90%;
	}
	.tarjeta{
		height: 420px;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		background-position: left top;
    	height: 300px;
	}
	.c1, .c2, .c3{
		margin-bottom: 3%;
	}
}

/*iphone vertical*/
@media all and (min-width:667px) and (max-width:767px){
	.logoWI{
		display: block;
		margin: auto;
		width: 40%;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-repeat: no-repeat;
		background-size: 100% 50%;
	}
	.cuadro{
		border: solid white 5px;
		padding: 3%;
		margin-top: 10%;
	}
	.intro{
		font-size: 1em !important;
	}
	#beneficios{
		margin-top: -45%;
	}
	#oficinas, #coworking, #escritorio, #virtual, #juntas, #conferencias{
		height: 150px;
	}
	.espacio{
		font-size: 1em;
	}
	.tarjeta{
		height: 430px;
	}
	.bt1{
		margin-top: 52%;
	}
	.bt2{
		margin-top: 38%;
	}
	.bt3, .bt4{
		margin-top: 50%;
	}
	.bt5{
		margin-top: 35%;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		background-position: center top;
    	height: 300px;
	}
	.c1{
		height: 135px;
	}
}

/*ipad horizontal*/
@media all and (min-width:768px) and (max-width:1023px){
	.logoWI{
		display: block;
		margin: auto;
		width: 35%;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-repeat: no-repeat;
	}
	.carimg1, .carimg3{
		background-size: 100% 74.5%;
		background-repeat: no-repeat;
	}
	#beneficios{
		margin-top: -15%;
	}
	#oficinas, #coworking, #escritorio, #virtual, #juntas, #conferencias{
		height: 170px;
	}
	.tarjeta{
		height: 450px;
	}
	.bt1{
		margin-top: 57%;
	}
	.bt2{
		margin-top: 45%;
	}
	.bt3{
		margin-top: 40%;
	}
	.bt4{
		margin-top: 53%;	
	}
	.bt5{
		margin-top: 42%;
	}
	.c1{
		height: 108px;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		height: 400px;
	}
}

/*ipad vertical*/
@media all and (min-width:1024px) and (max-width:1199px){
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-repeat: no-repeat;
	}
	.tarjeta{
		height: 450px;
	}
	.bt1, .bt3, .bt5{
		margin-top: 40%;
	}
	.bt2{
		margin-top: 30%;
	}
	.bt4{
		margin-top: 50%;
	}
	.c1{
		height: 108px;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		height: 500px;
	}
}
