/*rojo: #ae0400*/
*{
	font-family: Helvetica;
	font-size: large;
}
/*encabezados*/
h1{
	text-align: center;
	color: #ae0400;
	margin: 10% 0% 5% 0%;

}
h2{
	text-align: center;
	color: #ae0400;
	margin: 10% 0% 5% 0%;
}
/*header*/
.logoWI{
	width: 22%;
}
li>a {
	color: white;
}
ul>li>a:hover{
	color: #ae0400;
	background-color: white !important;
}
nav{
	background-color: #ae0400;
}
.cupon{
	display: block;
	margin: auto;
	background-color: #ae0400;
	text-decoration: none;
	border: solid 1px #ae0400;
	padding: 5%;
	border-radius: 5%;
}
.cupon a{
	color: white;
}
/*carousel*/
.carimg1{
	background-image: url(../img/portada2.jpg);
	background-size: 100% 100%;
}
.carimg2{
	background-image: url(../img/portada1.jpg);
	background-size: 100% 100%;
}
.carimg3{
	background-image: url(../img/portada3.jpg);
	background-size: 100% 100%;
}
.carimg4{
	background-image: url(../img/portada4.jpg);
	background-size: 100% 100%;
}
.size{
	width: 100%;
}
.carousel{
	height: 610px;
}
.cuadro{
	border: solid 10px white;
	display: block;
	margin: auto;
	width: 100%;
	height: 80%;
	margin-top: 10%;
	padding: 10%;
}
.intro{
	color: white;
	text-align: center;
	font-size: 1.5em !important;
	font-weight: bold;
}
/*beneficios*/
.centrar{
	text-align:center;
}
#beneficios i{
	color: #ae0400;
	font-size: 2.5em;
}
#beneficios div p{
	margin-top: -8px;
	font-size: small;
}
.beneficio{
	margin-bottom: 8%;
	text-align: justify;
}
/*menbresias*/
.tarjeta{
	border: solid 1px #e0e0e0 ;
	margin: 5% 0;
	padding: 2%;
	height: 400px;
}
.txtj{
	text-align: justify;
}
#oficinas{
	background: url(../img/oficinas.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 200px;
}
#coworking{
	background: url(../img/coworking.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 200px;
}
#escritorio{
	background: url(../img/escritorios-fijos.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 200px;
}
#virtual{
	background: url(../img/oficina-virtual.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 200px;
}
#juntas{
	background: url(../img/sala-juntas.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 200px;
}
#conferencias{
	background: url(../img/sala-conferencias.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 200px;
}
.espacio{
	color: white;
	text-align: center;
	font-size: 1.5em;
	padding-top: 50%;
	margin-top: -1px;
}
.medium{
	font-size: medium;	
	word-spacing: -1px;
}
.verMas{
	background-color: #ae0400 !important;
	text-decoration: none;
	border: solid 1px #ae0400;
	border-radius: 10%;
	color: white !important;
	display: block;
	margin: auto;
	padding: 2%;
}
.mb1, .mb2, .mb3, .mb4, .mb5{
	margin-bottom: 23%;
}
/*comunidad*/
#exire{
	width: 40%;
	display: block;
	margin: auto;
}
#ubora{
	width: 100%;	
	display: block;
	margin: auto;
}
#actipulse{
	width: 55%;
	display: block;
	margin: auto;
}
#produ{
	display: block;
	margin: auto;
	background-color: #3449e4;
	width: 100%;
}
#vcs{
	margin: auto;
	display: block;
	width: 50%;
}
#informed{
	display: block;
	margin: auto;
	width: 100%;
}
#tierra{
	width: 100%;
	display: block;
	margin: auto;
}
#garage{
	width: 100%;
	height: 150px;
}
#delantal{
	width: 70%;
	display: block;
	margin: auto;
}
#bici{
	width: 100%;
	display: block;
	margin: auto;
}
#mexcup{
	width: 60%;
	display: block;
	margin:auto;
}
#edu{
	width: 100%;
	display: block;
	margin: auto;
}
#hub{
	width:70%;
	display: block;
	margin: auto;
	background-color: #003046;
}
.mt5{
	margin-top: 5%;
}
/*contacto*/
.contact{
	background-color: #ae0400;
	color: white;
	width: 100%;
	text-align: center;
	padding: 1% 0% 2% 0%;
}
.circulo{	
	border-radius: 50%;
	background-color: white;
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;	
	color: #ae0400;
}
.circulo i{
	margin-top: 30%;
}
/*ubicacion*/
.metro{
	width: 10px;
}
.metrobus{
	width: 15px;
}
/*footer*/
footer{
	color: white;
	background-color: #ae0400;
	text-align: center;
}
.redes a{
	color: white;
	padding:2%;
}
footer span{
	font-size: small;	
}
.foo > span{
	display: block;
	margin: auto;
}
/*espacios*/
.ofi{
	background: url("../img/oficinas.jpg");
	background-size: 100% 100%;
	height: 600px;
}
.cow{
	background: url("../img/coworking.jpg");
	background-size: 100% 100%;
	height: 600px;
}
.esc{
	background: url("../img/escritorios-fijos.jpg");
	background-size: 100% 100%;
	height: 600px;
}
.virtuales{
	background: url("../img/oficina-virtual.jpg");
	background-size: 100% 100%;
	height: 600px;
}
.jun{
	background: url("../img/sala-juntas.jpg");
	background-size: 100% 100%;
	height: 600px;
}
.con{
	background: url("../img/sala-conferencias.jpg");
	background-size: 100% 100%;
	height: 600px;
}
.images{
	width: 100%
}
.txtenca{
	color: #ae0400;
	font-size: 1.5em;
	margin-top: 10%;
}
.c1{
	background-color: rgba(174, 4, 0, .25);
	color: white;
	margin-top: -3%; 
	text-align: center !important;
}
.c2{
	background-color: rgba(174, 4, 0, .45);
	color: white;
	margin-top: -3%;
	text-align: center !important;
}
.c3{
	background-color: rgba(174, 4, 0, .65);
	color: white;
	margin-top: -3%;
	text-align: center !important;
}
.c4{
	background-color: rgba(174, 4, 0, .85);
	color: white;
	margin-top: -3%;
	text-align: center !important;
}
.mt10{
	margin-top: 10%;
}
.price{
	height: 200px;	
}	
.image{
	width: 100%;
	height: 100px;	
}
.txtr{
	color: #ae0400;
	display: block;
	margin: auto;
}
.sala{
	background-color: #ae0400;
	color: white;
	font-size: 1.5em;
	padding: 1%;
	width: 40%;	
	margin: auto;
	margin-bottom: 3%;
	margin-top: 3%;
}
/*formulario*/
label{
	color: #ae0400;
}
.send{
	background-color: #ae0400 !important;
	border: #ae0400 1px solid;
	color: white;
	display: block;
	margin: auto;
	padding: 2%;
	border-radius: 5%;
}
/*MEDIA QUERIES*/
/*movil*/
@media all and (max-width:360px){
	.logoWI{
		width: 65%;
		display: block;
		margin: auto;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-size: 100% 50%;
		background-repeat: no-repeat;
	}
	.intro{
		font-size: small !important;
	}
	#beneficios{
		margin-top: -75%;
	}
	.tarjeta{
		height: 400px;
	}
	.bt1, .bt2, .bt3, .bt5{
		margin-top: -5%;
	}
	.bt2{
		margin-top: -5%;
	}
	.circulo{
		width: 30px;
		height: 30px;
	}
	.circulo i{
		margin-top: 10%;
	}
	.image{
		width: 100%;
		height: 200px;	
	}
	.txtr{
		margin-bottom: 5%;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		height: 270px;
	}
	.c1, .c2, .c3{
		margin-bottom: 3%;
	}
}
/*movil horizontal*/
@media all and (min-width:361px) and (max-width:374px){
	.logoWI{
		width: 42%;
		display: block;
		margin: auto;
	}
	.cuadro{
		padding: 4%;
		margin-top: 4;
		width: 100%;
	}
	.intro{
		font-size: 1em !important;
	}
	.tarjeta{
		height: 450px;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-size: 100% 50%;
		background-repeat: no-repeat;
	}
	#beneficios{
		margin-top: -45%;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		background-size: 100% 50%;
		background-repeat: no-repeat;
		margin-bottom: -50%;
	}
	#oficinas, #coworking, #escritorio, #virtual, #juntas, #conferencias{
		height: 150px;
	}
	.espacio{
		font-size: 1em;
	}
	.bt1{
		margin-top: 70%;
	}
	.bt2{
		margin-top: 55%;
	}
	.bt3{
		margin-top: 65%;
	}
	.bt4{
		margin-top: 65%;
	}
	.bt5{
		margin-top: 51%;
	}
	.image{
		width: 100%;
		height: 60px;
	}
	.c1, .c4{
		height: 162px;
	}	
}
/*iPhone vertical*/
@media all and (min-width:375px) and (max-width:640px){
	.logoWI{
		width: 62%;
		display: block;
		margin: auto;
	}
	.carousel{
		height: 200px;
	}
	.intro{
		font-size: 1em !important;
	}
	.tarjeta{
		height: 430px;
	}
	#oficinas, #coworking, #escritorio, #virtual, #juntas, #conferencias{
		height: 230px;
	}
	.bt1{
		margin-top: -5%;
	}
	.bt2, .bt3, .bt5{
		margin-top: -10%;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		height: 300px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.image{
		height: 200px;
	}
	.c1, .c2, .c3{
		margin-bottom: 3%;
	}
}	

/*iPhone horizontal*/
@media all and (min-width:667px) and (max-width: 768px){
	.logoWI{
		display: block;
		margin: auto;
		width: 40%;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		background-size: 100% 50%;
		background-repeat: no-repeat;
	}
	.cuadro{
		margin-top: 5%;
		padding: 5%;
	}
	.intro{
		font-size: 1em !important;
	}
	#beneficios{
		margin-top: -40%;
	}
	#oficinas, #coworking, #escritorio, #virtual, #juntas, #conferencias{
		height: 150px;
	}
	.tarjeta{
		height: 430px;
	}
	.espacio{
		font-size: 1em;
	}
	.bt1{
		margin-top: 52%;
	}
	.bt2{
		margin-top: 37%;
	}
	.bt3, .bt4{
		margin-top: 50%;
	}
	.bt5{
		margin-top: 35%;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		height: 350px;
	}
	
	.c1{
		height: 135px;
	}
	.image{
		height: 80px;
	}
}

/*tablet*/
@media all and (min-width:641px) and (max-width:666px){
	.logoWI{
		width: 60%;
		display: block;
		margin: auto;
	}
	.carimg1, .carimg2, .carimg3, .carimg4{
		height: 250px;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		height: 300px;
	}
	.galeria{
		margin-top: 50%;
	}
	.c1, .c2, .c3{
		margin-bottom: 3%;
	}
	.tarjeta{
		height: 420px;
	}
}
@media all and (min-width:768px) and (max-width:1023px){
	.logoWI{
		width: 35%;
		display: block;
		margin: auto;
	}
	.tarjeta{
		height: 580px;
	}
	.ofi, .cow, .esc, .virtuales, .jun, .con{
		height: 500px;
	}
	.c1{
		height: 108px;
	}
	.tarjeta{
		height: 470px;
	}
	.mb1{
		margin-bottom: 58%;
	}
	.mb2{
		margin-bottom: 45%;
	}
	.mb3{
		margin-bottom: 45%;
	}
	.mb4{
		margin-bottom: 57%;
	}
	.mb5{
		margin-bottom: 45%;
	}
	
}
@media all and (min-width:1024px) and (max-width:1100px){
	.tarjeta{
		height: 465px;
	}
	.bt1{
		margin-top: 40%;
	}
	.bt2{
		margin-top: 30%;
	}
	.bt3{
		margin-top: 40%;
	}
	.bt4{
		margin-top: 52%;
	}
	.bt5{
		margin-top: 50%;
	}
	.c1{
		height: 108px;
	}
}